<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Candiates</title>
    <!--include css files here-->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <link href="https://fonts.googleapis.com/css?family=Roboto&display=swap" rel="stylesheet">
    <link href="./main.css" rel="stylesheet" type="text/css">
  </head>

  <body>
    <div class="container-sm mt-5" style="width: 50%;">

      <div class="backgroundsearch"></div>
      <div class="row mb-3 text-center">
        <span class="title">search it</span>
      </div>

      <div class="row">
        <div class="col-10 m-auto mb-4">
          <label for="company">Input the Company Name</label>
          <input class="form-control" id="company" name="company"></input>
        </div>

        <div id="companyResultLineChart"></div>

        <div style="text-align: center;">
          <button class="btn btn-primary" id="button_formCompany" onclick="showCompanyResultLineChart()">Search</button>
          <a href="./vertida.html" class="btn btn-primary">Back</a>
        </div>
      
      </div>
      


    </div>

    
    
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
      integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js"
      integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js"
      integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/web3@1.5.2/dist/web3.min.js"></script>
    <script src="../function/web3.js"></script>
    <script src="../function/search.js"></script>

  </body>
</html>
